{% extends 'user/base.html' %}

{% load static %}




{% block content %}

<div class=" d-flex justify-content-center " style="height:700px;
width: 100%;
margin-top:70px;
background-image: url('../../../media/12.jpg');
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;">
        <div class="container" style="color:#fff;
        position: absolute;
        top: 35%;
        left: 50px;
        font-size: 32px;
        ">
        <h3 style="color: #fff"> Susan Wojcicki,<h5 style=" color:#fff;"> CEO of Youtube</h5></h3> <br>

        
                 From phones to cars to medicine, <br> technology touches every part of our lives.
                   <br>
                 If you can create technology, you can change the world.
             </div>
  
</div>

<div class="section"  style="background: #ebebeb;">
    <div class="container">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center">Latest events.</h2>
        <br>
        <br>
        </div>
        <div class=" row">
            <div class="col-md-6">
                <a href="#" target="">
                    <div class="card">
                        <img class="card-img-top"
                            src="../../../media/13.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">IT event</h5>
                            <p class="card-text">Experiencing a problem with your heart?</p>
                            <a href="#exampleModal" class="btn btn-primary" data-toggle="modal">Attend this event</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#" target="">
                    <div class="card">
                        <img class="card-img-top"
                            src="../../../media/14.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Nepware</h5>
                            <p class="card-text">Experiencing a problem with your heart?</p>
                            <a href="#exampleModal" class="btn btn-primary" data-toggle="modal">Attend this event</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="#" target="">
                    <div class="card">
                        <img class="card-img-top"
                            src="../../../media/15.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">It Hub</h5>
                            <p class="card-text">Experiencing a problem with your heart?</p>
                            <a href="#exampleModal" class="btn btn-primary" data-toggle="modal">Attend this event</a>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top"
                        src="../../../media/16.jpg">
                    <div class="card-body">
                        <h5 class="card-title">It Next</h5>
                        <p class="card-text">Feel like you have a problem with </p>
                        <a href="#exampleModal" class="btn btn-primary" data-toggle="modal">Attend this event</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top"
                        src="../../../media/18.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Conference JS</h5>
                        <p class="card-text">Feel like you have a problem with </p>
                        <a href="#exampleModal" class="btn btn-primary" data-toggle="modal">Attend this event</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section ">
    <div class="container">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center">Choose a course of your interest.</h2>
        <br>
        <br>
        <br>
        </div>
        <div class=" row">
            <div class="col-md-3">
                <a href="#" target="">
                    <div class="card">
                        <img class="card-img-top"
                            src="../../../media/2.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Python</h5>
                            <p class="card-text">Experiencing programming language?</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top"
                        src="../../../media/3.png" alt="card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Javascript</h5>
                        <p class="card-text">Feel like you have a problem with your codes?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../../../media/4.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">C#</h5>
                        <p class="card-text">Want to perform a  on your childern?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../../../media/5.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Digital Marketing</h5>
                        <p class="card-text">Experiencing an unnatural bowel movement?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../../../media/6.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Swift</h5>
                        <p class="card-text">Experiencing difficulty with your reproductive health?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../../../media/7.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">PHP</h5>
                        <p class="card-text">Check up your skin to sustain your beauty for a long time.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../../../media/8.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Android </h5>
                        <p class="card-text">Wish to eliminate the risk of cancer?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" src="../../../media/9.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Web Design</h5>
                        <p class="card-text">Feel like you have a cavity in your molar?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section"  style="background: #ebebeb;">
<div class="container">
    <h3>Previous Competition Winners</h3>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Winner</th>
            <th>Compititon</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Sabina Karki</td>
            <td>Women in Tech</td>
            <td>21st July 2017</td>
        </tr>
        <tr>
            <td>Nisha Dhungel</td>
            <td>TECH Hub</td>
            <td>23rd June 2018</td>
        </tr>
        <tr>
            <td>Amrita Sapkota</td>
            <td>Technology Ahead</td>
            <td>1st April 2019</td>
        </tr>
        <tr>
            <td>Sita Gurung</td>
            <td>Code for Change</td>
            <td>6st July 2019</td>
        </tr>
        <tr>
            <td>Mega Shakya</td>
            <td>NCC Code</td>
            <td>1st September 2015</td>
        </tr>
        </tbody>
    </table>
</div>
</div>

<div class="section">
<div class="container">
    <div style="display: flex; justify-content: center;">
    <h2>What our winners say about us.</h2>
    </div>
    <br><br>
        <div class="row">
            <div class="review col-md-4" style="border: 2px solid #e2e2e2;
            position: relative;
            margin-right: 15px;
            border-radius:7px;
            box-shadow: #d3d3d3 0 1px 15px;
            padding: 10px;"> 
                <div class=" ">Probably the best way to use my phone. This is a revolutionary way to learn
                    code. The
                    comments on each question/section adds a real world perspective.</div>
                <br>
                <div class="d-flex justify-content-center">
    
                    <div class="avatar">
                        <img src="https://pixel.nymag.com/imgs/daily/vulture/2018/11/02/02-avatar-2.w700.h700.jpg"
                            alt="avatar" class="avatar-img" style="height: 50px;
                            width: 50px;
                            border-radius: 50%;">
                        <br>
                        <span class="avatar-name" style="margin-left: -20px;">Sita Khadka</span>
                    </div>
                </div>
            </div>
            <div class="review col-md-3" style="border: 2px solid #e2e2e2;
            position: relative;
            margin-right: 15px;
            border-radius:7px;
            box-shadow: #d3d3d3 0 1px 15px;
            padding: 10px;"> 
                <div class=" ">Probably the best way to use my phone. This is a revolutionary way to learn
                    code. The
                    comments on each question/section adds a real world perspective.</div>
                <br>
                <div class="d-flex justify-content-center">
    
                    <div class="avatar">
                        <img src="https://pixel.nymag.com/imgs/daily/vulture/2018/11/02/02-avatar-2.w700.h700.jpg"
                            alt="avatar" class="avatar-img" style="height: 50px;
                            width: 50px;
                            border-radius: 50%;">
                        <br>
                        <span class="avatar-name" style="margin-left: -20px;">Sita Khadka</span>
                    </div>
                </div>
            </div>
            <div class="review col-md-4" style="border: 2px solid #e2e2e2;
            position: relative;
            margin-right: 15px;
            border-radius:7px;
            box-shadow: #d3d3d3 0 1px 15px;
            padding: 10px;"> 
                <div class=" ">Probably the best way to use my phone. This is a revolutionary way to learn
                    code. The
                    comments on each question/section adds a real world perspective.</div>
                <br>
                <div class="d-flex justify-content-center">
    
                    <div class="avatar">
                        <img src="https://pixel.nymag.com/imgs/daily/vulture/2018/11/02/02-avatar-2.w700.h700.jpg"
                            alt="avatar" class="avatar-img" style="height: 50px;
                            width: 50px;
                            border-radius: 50%;">
                        <br>
                        <span class="avatar-name" style="margin-left: -20px;">Sita Khadka</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="section landing-section" style="background: #f4f4f4;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4"
                            placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 ml-auto mr-auto">
                                <button class="btn btn-primary btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fill out this form to attend this event.</h5>
        <br>
        <p>This event is organized by one of the top IT company, which is also a multinational company. 
            This event focuses on providing entry level knowledge to girls who are interested in technohogy.</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Email Address:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Phone Number:</label>
            <input type="text" class="form-control" id="recipient-name">
            </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer" style="padding: 10px;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>


<footer class="footer   footer-white ">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li>
                            <a href="#" target="_blank">Doctor's Portal</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Blog</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Licenses</a>
                        </li>
                    </ul>
                </nav>
                <div class="credits ml-auto">
                    <span class="copyright">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>, made by Prajwol Tiwari
                    </span>
                </div>
            </div>
        </div>
    </footer>
    

{% endblock %}
